/*#region subPageComponent: HeadingTwo */
.HeadingTwo {
  align-items: flex-start;
  color: #414141;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: flex-start;
  margin: 0 1rem;
  padding: 0 0.4rem 1rem 0.4rem;
  text-transform: capitalize;
}
/*#endregion /subPageComponent: HeadingTwo */
